---
---

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  padding: 10%;
}

.btn {
  display: none;
}

.site-footer {
  display: none;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #2d9491;
}

a {
    color: #000000;
    text-decoration: underline;
}
