---
---

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-color: #2693ff;
  background-color: #159957;
  background-image: -webkit-linear-gradient(315deg, #159957 10%, #599aff 95%);
  background-image: -moz-linear-gradient(315deg, #159957 10%, #599aff 95%);
  background-image: -o-linear-gradient(315deg, #159957 10%, #599aff 95%);
  background-image: linear-gradient(315deg, #159957 10%, #599aff 95%);
  padding: 10%;
}

.btn {
  display: none;
}

.site-footer {
  display: none;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #2d9491;
}

a {
    color: #000000;
    text-decoration: underline;
}
